@model MySecondBrain.Application.ViewModels.DossierListViewModel

@{
    ViewData["Title"] = "Dossiers";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div>
                <div class="mb-5">
                    <div>
                        <h1>Dossier : </h1>

                        <a asp-action="Create" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Create">Créer un dossier</a>

                        @foreach (var item in Model.Dossiers)
                        {

                            <div class="d-block d-md-flex listing list-group-horizontal-xl">
                                <div class="lh-content">
                                    <span class="category">@item.Iddossier</span>
                                    <h2><a asp-action="Detail" asp-route-id="@item.Iddossier" class="text-black">@item.Nom</a></h2>
                                    <div>
                                        <a asp-action="Edit" asp-route-id="@item.Iddossier" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@item.Iddossier" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">Delete</a>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
